<div class="parent">
  <div class="login-box">
    <h1>Đăng ký</h1>
    <form (ngSubmit)="kiemtradangky()">
      <div class="user-box">
        <input type="text" name="username" id="username" placeholder="Tên đăng nhập" required [(ngModel)]="taiKhoan">

        <input [type]="showPassword ? 'text' : 'password'" name="password" id="password" placeholder="Mật khẩu" required [(ngModel)]="matKhau">

        <input [type]="showPassword ? 'text' : 'password'" name="confirmPassword" id="confirmPassword" placeholder="Xác nhận mật khẩu" required [(ngModel)]="xacNhanMatKhau">

        <input type="checkbox" id="checkbox" (change)="togglePasswordVisibility()">
        <label for="checkbox">Hiện/Ẩn mật khẩu</label>

        <input type="email" name="email" id="email" placeholder="Email" required [(ngModel)]="email">
        
        <br><br>

        <button type="submit">Đăng ký</button>
      </div>
    </form>
    <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
      {{ errorMessage }}
    </div>
  </div>
</div>
