<div class="parent">
  <div class="login-box">
      <h2>Đăng nhập</h2>
      <form (ngSubmit)="kiemtradangnhap()">
    <div class="user-box">
      <input type="text" name="username" [(ngModel)]="taikhoan" required>
      <label>Tài khoản</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" [(ngModel)]="matkhau" required>
      <label>Mật khẩu</label>
      <button type="submit">Đăng nhập</button>
      <br>
      <br>
      <a href="/dangky">Nếu bạn chưa có tài khoản, hãy đăng ký tại đây!!!</a> 
          </div>
        
      </form>
  </div>
</div>